body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

header {
    background-color: #ffffff;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 24px;
    position: relative;
}

header img {
    left: 10px;
    position: absolute;
    top: 10px
}

header img:hover {
    scale: 1.1;
    transition: all .1s ease-in;
}

header li {
    display: inline-block;
    margin: 15px;
    gap: 30px;
}

header a {
    text-decoration: none;
    color: #000000;
}

header a:hover {
    color: #FF9900;
}

header button.signup {
    background-color: #FF9900;
    color: white;
    border: 1px solid #FF9900;
    border-radius: 4px;
    padding: 12px 25px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: large;
}

header button.signup:hover {
    background-color: #ff6a00;
    border-color: #ff6a00;
    scale: 1.1;
    transition: all .1s ease-in;
}

header button.signin {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding: 12px 25px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 160px;
    top: 0;
    font-size: large
}

header button.signin:hover {
    background-color: #FF9900;
    scale: 1.1;
    transition: all .1s ease-in;
}

section.hero {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    padding-bottom: 200px;
    position: relative;
}

section.hero img.hero {
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 2;
    width: 700px;
}

section.hero img.sauntez {
    position: absolute;
    right: 100px;
    top: 40px;
    z-index: 1;
    width: 550px;
}

section.hero div.design {
    width: 50vw
}

section.hero div.design h1 {
    font-size: 72px;
    color: #000000;
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: 650;
    margin-left: 10px;
}

section.hero div.design p {
    font-size: 26px;
    color: #555555;
    margin-left: 10px;
}

section.hero div.design button {
    background-color: #FF9900;
    color: white;
    border: 1px solid #FF9900;
    border-radius: 4px;
    padding: 15px 50px;
    cursor: pointer;
    display: inline-block;
    font-size: large;
    margin-top: 30px;
    margin-left: 10px;
}

section.hero div.design button:hover {
    background-color: #ff6a00;
    border-color: #ff6a00;
    scale: 1.1;
    transition: all .1s ease-in;
}

section.wedesign {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 0;
}

section.wedesign h1 {
    color: #000000;
    font-size: 72px;
    font-weight: 600;
    padding-top: 60px;
    margin-bottom: 0;
    background-color: #ffffff;
}

section.wedesign div.content {
    background-image: url("bgwedesign.svg");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 500px;
}

section.wedesign div.content div {
    display: inline-block;
    width: 25%;
    height: 280px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    position: relative;
    border-radius: 16px;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

section.wedesign div.content div img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 10px;
}

section.wedesign div.content div h2 {
    position: absolute;
    top: 80px;
    left: 10px;
    color: #000000;
    font-size: 24px;
}

section.wedesign div.content div p {
    position: absolute;
    top: 140px;
    left: 10px;
    color: #555555;
    font-size: 18px;
    text-align: left;
}

section.wedesign div.content div:hover {
    transform: scale(1.05);
    backdrop-filter: blur(4px);
    border: 5px solid rgba(255, 255, 255, 0.5);
}

section.wedesign div.content button {
    background-color: #FF9900;
    color: white;
    border: 1px solid #FF9900;
    border-radius: 4px;
    padding: 15px 70px;
    cursor: pointer;
    display: inline-block;
    font-size: large;
    margin-top: 30px;
    margin-left: 10px;
}

section.wedesign div.content button:hover {
    background-color: #ff6a00;
    border-color: #ff6a00;
    scale: 1.1;
    transition: all .1s ease-in;
}

footer {
    padding: 0;
    margin: 0;
    position: relative;
    margin-bottom: 300px;
}

footer img {
    height: auto;
    display: block;
    position: absolute;
    left: 10px
}

footer img:hover {
    scale: 1.1;
    transition: all .1s ease-in;
}

footer div.quick {
    position: absolute;
    left: 450px;
    width: 25%;
}

footer div.quick h2 {
    font-size: 24px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 700;
}

footer div.quick ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer div.quick ul li {
    margin-bottom: 10px;
}

footer div.quick ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

footer div.quick ul li a:hover {
    color: #FF9900;
}

footer div.legalstuff {
    position: absolute;
    right: 350px;
    width: 25%;
}

footer div.legalstuff h2 {
    font-size: 24px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 700;
}

footer div.legalstuff ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer div.legalstuff ul li {
    margin-bottom: 10px;
}

footer div.legalstuff ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}
footer div.legalstuff ul li a:hover {
    color: #FF9900;
}

footer form {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    padding: 0;
    margin: 0;
}

footer form h2 {
    font-size: 24px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 700;
}

footer form input[type="tel"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 24px;
}

footer form button.signup {
    background-color: #FF9900;
    color: white;
    border: 1px solid #FF9900;
    border-radius: 4px;
    padding: 12px 25px;
    cursor: pointer;
    display: inline-block;
    font-size: large;
}

footer form button.signup:hover {
    background-color: #ff6a00;
    border-color: #ff6a00;
    scale: 1.1;
    transition: all .1s ease-in;
}